<div cdkDropListGroup>
  <div class="example-container">
    <h2>{{ boss.name }}</h2>

    <div
      cdkDropList
      [cdkDropListData]="setup"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of setup" cdkDrag>
        <app-player-card [player]="item"></app-player-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="roster.players"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of roster.players" cdkDrag>
        <app-player-card [player]="item"></app-player-card>
      </div>
    </div>
  </div>
</div>
