.player-card {
  max-width: 200px;
  max-height: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: 25% 50% auto;
}

.class-icon {
  background-image: url('../../../assets/icons/priest.webp');
  background-size: cover;
}
